<div class="container mt-5">
  <div class="text-center p-5 m-3 bg-light w-60 rounded font-weight-bold">
    <%= render "/partials/show_card.html.erb" %>
    <br>
    <br>
    <%= link_to "back to list", root_path, :class => "btn btn-primary" %>
    <%= link_to "delete",
    cocktail_path(@cocktail),
    method: :delete,
    data: { confirm: "Are you sure?" }, :class => "btn btn-danger" %>
  </div>
  <div class="d-flex justify-content-center w-100">
   <div class="w-50">
    <%= simple_form_for [ @cocktail, @dose ] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "Submit ingredient", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>


